
 .about {
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 30px;
 }
 
 .picture {
   width: 100%;
   margin-right: 20px;
 }
 
 .picture img{
   object-fit: fill;
   width: 100%;
   max-width: 250px;
   border-radius: 10px;
 }
 
 .about-me-text {
   text-align: left;
 }
 
 .profile-name {
   text-align: center;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   font-size: 3em;
   padding: 1em;
}
 
 @media (max-width: 700px) {
   .about {
     grid-template-columns: 1fr;
   }
 
   .picture {
     width: 100%;
     margin-right: 0;
     margin-bottom: 20px;
   }
 }
 